@model CertificationsViewModel

@{
    ViewBag.Title = "Certifications List";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>GeekPeeked Certifications List (@Model.GeekPeekedCertifications.Count results)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped results">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Type Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Movie Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cert in Model.GeekPeekedCertifications.OrderBy(c => c.TypeId).OrderBy(c => c.Country))
                        {
                            <tr>
                                <td>
                                    @cert.Country
                                </td>
                                <td>
                                    @cert.TypeId
                                </td>
                                <td>
                                    @cert.Name
                                </td>
                                <td>
                                    @cert.Description
                                </td>
                                <td>
                                    @cert.Movies.Count
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <h2>TMDb Certifications List (@Model.TMDbCertifications.Count results)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped results">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Type Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Movie Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cert in Model.TMDbCertifications.OrderBy(c => c.TypeId).OrderBy(c => c.Country))
                        {
                            <tr>
                                <td>
                                    @cert.Country
                                </td>
                                <td>
                                    @cert.TypeId
                                </td>
                                <td>
                                    @cert.Name
                                </td>
                                <td>
                                    @cert.Description
                                </td>
                                <td>
                                    @cert.Movies.Count
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

