@model Movie

@{
    ViewBag.Title = Model.Title;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pull-right">
            <a href="@Url.Action("Index")" class="btn btn-block btn-default">Back to Admin</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>GeekPeeked Movie Details - @Model.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Movie</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TmdbId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TmdbId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImdbId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImdbId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OriginalTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OriginalTitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tagline)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tagline)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Runtime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Runtime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PosterPath)
                </dt>

                <dd>
                    @if (!string.IsNullOrWhiteSpace(Model.PosterPath))
                    {
                        <img src="@GeekPeeked.Common.Configuration.TMDbCoreConfiguration.ImageTmdbUrlFormatString(Model.PosterPath)" />
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HomePage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HomePage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Budget)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Budget)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Revenue)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Revenue)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsVisible)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsVisible)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsAdult)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsAdult)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>
            </dl>
        </div>
    </div>
</div>
