@model GenresViewModel

@{
    ViewBag.Title = "Genres List";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pull-right">
            <a href="@Url.Action("Index")" class="btn btn-block btn-default">Back to Admin</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>GeekPeeked Genres List (@Model.Genres.Count results)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped results">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Movie Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var genre in Model.Genres.OrderByDescending(c => c.Movies.Count))
                        {
                            <tr>
                                <td>
                                    @genre.Id
                                </td>
                                <td>
                                    @genre.Name
                                </td>
                                <td>
                                    @genre.Movies.Count
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

