@model MoviesViewModel

@{
    ViewBag.Title = "Movies";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pull-right">
            <a href="@Url.Action("Index")" class="btn btn-block btn-default">Back to Admin</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>GeekPeeked Movies (@Model.GeekPeekedMovies.Where(m => m.IsVisible).Count() results)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped results">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Poster</th>
                            <th>Title</th>
                            <th>Release Date</th>
                            <th>Is Visible?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var movie in Model.GeekPeekedMovies.Where(m => m.IsVisible).OrderBy(m => m.ReleaseDate))
                        {
                            <tr>
                                <td align="center" valign="middle">
                                    <a href="@Url.Action("Details", new { id = movie.Id })" class="btn btn-block btn-primary">View</a>
                                </td>
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(movie.PosterPath))
                                    {
                                        <img src="@GeekPeeked.Common.Configuration.TMDbCoreConfiguration.ImageTmdbUrlFormatString(movie.PosterPath)" />
                                    }
                                </td>
                                <td>
                                    @movie.Title
                                </td>
                                <td>
                                    @movie.ReleaseDate.ToShortDateString()
                                </td>
                                <td>
                                    @movie.IsVisible
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        //$(document).ready(function () {
        //});

        //function addMovie(obj) {
        //    var _id = $(obj).attr('data-Id');
        //    alert(_id);

        //    $.ajax({
        //        url: '/Admin/AddMovie/',
        //        data: { id: _id },
        //        cache: false,
        //        type: 'POST',
        //        success: function (data) {
        //            alert(data);
        //        },
        //        error: function (reponse) {
        //            alert(reponse);
        //        }
        //    });
        //}

    </script>
}