@model PeopleViewModel

@{
    ViewBag.Title = "People List";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pull-right">
            <a href="@Url.Action("Index")" class="btn btn-block btn-default">Back to Admin</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>GeekPeeked People List (@Model.People.Count results)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped results">
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Birth Place</th>
                            <th>Deathday</th>
                            <th>Credit Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in Model.People.OrderBy(p => p.Id))
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(person.ProfilePath))
                                    {
                                        <img src="@GeekPeeked.Common.Configuration.TMDbCoreConfiguration.ImageTmdbUrlFormatString(person.ProfilePath)" />
                                    }
                                </td>
                                <td>
                                    @person.Name
                                </td>
                                <td>
                                    @person.Birthday
                                </td>
                                <td>
                                    @person.BirthPlace
                                </td>
                                <td>
                                    @person.Deathday
                                </td>
                                <td>
                                    @person.Credits.Count
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

